*{
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #1f1f1f;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22%;
    padding: 50px;
    border: 0.1px solid snow;
    border-radius: 5%;
    margin: 1% 0 1% 1%;
    position: fixed;
    right: 70%;
}
.nameDes{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}
.nameDes h1{
    font-size: 26px;
}
.nameDes h2{
    margin: 0 0 2% 10%;
}
.container img{
    filter: grayscale();
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.email{
    text-align: center;
    margin-right: 1%;
    padding: 2px;

}
.email strong{
    font-size: 18px;
    text-align: center;
}
.email h1{
    text-align: center;
    font-size: 22px;
}
.copyRight{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.container ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.container li{
    margin: 20%;
}
.btn{
    border: 10px; 
    color: white; 
    padding: 2px 58px 3px 58px; 
    margin-left: 10%; 
    cursor: pointer; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}
.btn a{
    background: #28e98c;
    border-radius: 10px;
    color: black;
    border: 2px solid #28e98c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0% 80%;
    text-align: center;
    text-decoration: none;
    cursor: progress;
}
.btn h1{
    color: #1f1f1f;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
}
.btn i{
    margin-right: 25%;
    color: #1f3251
}
.content{
    display: block;
    align-items: center;
    justify-content: center; 
    margin-left: 32%;
    margin-top: 2%;
}
.content a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80%;
    border: 1px solid white;
    border-radius: 25px;
    width: 2%;
    padding: 5px 15%;
}
.tagline{
    text-align: center;
    padding: 5%;
    margin-bottom: 8%;
}
.tagline a{
    width: 25%;
}
.tagline h1{
    font-size: 80px;
}
.tagline strong{
    color: #28e98c;
}
.tagline p{
    font-size: 22px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.emblem {
	position: absolute;
	left: 30%;
	right: 0;
    top: 5vh;
	margin: 0 auto;
	width: 25%;
	height: 25%;
	border-radius: 50%;
    font-weight: 400;
	color: aliceblue;
	animation: spinZ 30s linear infinite;
	text-align: center;
}
	span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 24px;
		transition: all .5s cubic-bezier(0,0,0,2);
	}

	@keyframes spinZ {
		0% {
			transform: rotateZ(360deg);
		}
		100% {
			transform: rotateZ(0deg);
		}
        
	}
@media (max-width: 1200px){
    .emblem {
        position: absolute;
        left: 30%;
        right: 25%; 
        top: 145vh;
        margin: 0 auto;
        width: 18%;
        height: 18%;
        border-radius: 50%;
        font-weight: 150px;
        color: aliceblue;
        animation: spinZ 30s linear infinite;
        text-align: center;
    }
    span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 24px;
		transition: all .5s cubic-bezier(0,0,0,2);
	}
}

/* @media (max-width: 1200px){
    nav{
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .containerPic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }
    .content{
        margin-top: 2%;
    }

} */
@media (max-width: 768px){
    nav{
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .containerPic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }
    .content{
        margin-top: 2%;
    }
    .container{
        width: 73%;
        position: static;
    }
    .nameDes{
        gap: 2%;
    }
    .nameDes h1,h2{
        font-size: 26px;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10%;
    }
    .container ul{
        margin-right: 30%;
    }
    .container li{
        margin-right: 2%;
    }
    .container img{
        filter: grayscale();
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        border-radius: 10%;
        width: 200px;
    }
    .container li{
        margin-left: 40%;
    }
    .btn button
    {
        width: 0 auto;
        margin-left: 5%;
    }
    .content{
        margin: 2% 0 0 2%;
    }
    .tagline{
        text-align: center;
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .tagline a{
        width: 25%;
    }
    .tagline h1{
        font-size: 32px;
    }
    .tagline strong{
        color: #28e98c;
    }
    .tagline p{
        font-size: 22px;
    }
}
